root = true

[*.{js,ts,jsx,tsx,json,scss}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
quote_type = double

[**.bundle.js,**.bundle.js.map]
indent_size = unset
indent_style = unset

[*.md]
insert_final_newline = true
trim_trailing_whitespace = false
