root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
quote_type = double

[*.js,*.ts,*.jsx,*.tsx,*.scss]
insert_final_newline = true

[*.json,.eslintrc,.prettierrc]
insert_final_newline = false

[**.bundle.js,**.bundle.js.map]
indent_size = unset
indent_style = unset

[*.md]
insert_final_newline = true
trim_trailing_whitespace = false
