MONGO_URL="mongodb://localhost:27017/MLTD"
PUBLIC_KEY="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKKRPkWfzqdwluxWWJq3u3mB7lEWov09ojkPCrhSgWb6ImlGAs72Qe/Ty1Unl4K9fG0anYNEOPoPlSxkpGWNXfkCAwEAAQ=="
PRIVATE_KEY="MIIBUwIBADANBgkqhkiG9w0BAQEFAASCAT0wggE5AgEAAkEAopE+RZ/Op3CW7FZYmre7eYHuURai/T2iOQ8KuFKBZvoiaUYCzvZB79PLVSeXgr18bRqdg0Q4+g+VLGSkZY1d+QIDAQABAkBfXpPIpqLGae+wQEuEoIr0Enxrx7rgk7rKfH+OeKB/dwduyXoMkINaLAk7boxn4tNEfkk7nVVNznzo7Hrk99ZNAiEA5tVoHWTuV6FPsfbICC1Tmm4FcjeHYZ+mUE/x26Ojrq8CIQC0SoRkuYlZySL9FIS6k+wWzZD3UfP0TbArt0BVdlcn1wIgD6VDS0q+BN6AIlXRtQwtcHgokldFK87AXQ0uHW739y0CIHV6WOqJO0aWGYZvaE1rNdtl96AwdpYqSTEzJ2iIxCHhAiAnNloszKdnwj/v1sgKrjIV/7kWMQCleGskdR26udTPBQ=="
