{
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "semi": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": true
}