@import "../../../../../../pages/global";

.response-table-row {
    td {
        padding: 0.5rem 0;

        >.response-status {
            font-family: $code-font;
            display: table-cell;
            vertical-align: baseline;
        }

        >.response-demo-selector{
            font-size: smaller;
            margin: 0.5rem 0;
        }
        
        >.response-description {
            margin: 1rem 0;
        }

        >.response-example,>.response-example * {
            font-family: $code-font;
            font-size: unset;
            color: unset;
        }
    }
}
