// Fira Code
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap");

// jf-openhuninn
@font-face {
    font-family: "jf-openhuninn";
    // IE9 Compact Modes
    src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot);
    src:
        // IE6~IE8
        url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot?#iefix)
            format("embedded-opentype"),
        // Modern browsers
        url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.woff)
            format("woff"),
        // Safari, Android, iOS
        url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.ttf)
            format("truetype"),
        // Legacy iOS
        url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.svg#SealmemoryHeader)
            format("svg");
}

// global variables
$width: 75%;
$color-primary: #ea5b76;
$code-font: "Fira Code", "Courier New", Courier, "jf-openhuninn", monospace;
