@import "../../../pages/global";

.operation-card {
    margin: 1rem 0;
    border: 0.1rem solid $color-primary;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem #00000030;

    > .operation-card-title {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        width: 100%;
        padding: 0.5rem;
        border-bottom: 0.1rem solid $color-primary;

        > .operation-card-method {
            color: #fff;
            background-color: $color-primary;
            font-family: $code-font;
            border-radius: 0.25rem;
            margin-right: 1.5rem;
            padding: 0 1rem;
        }

        > .operation-card-path {
            font-family: $code-font;
            margin-right: 1.5rem;
            font-weight: bolder;
        }

        > .operation-card-description {
            flex: auto;
        }

        .operation-card-title-arrow {
            transition: ease-in-out 0.25s;

            &.rotate-left {
                transform: rotate(-90deg);
            }
        }
    }

    > .operation-card-body {
        padding: 1rem;

        > .operation-card-table-container {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
